{% extends 'AppBundle::base.html.twig' %}

{% block title %}Commandes{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 50px;
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #fff;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    /* Modal Header */
    .modal-header {
        padding: 2px 16px;
        background-color: #5cb85c;
        color: white;
    }

    /* Modal Body */
    .modal-body {padding: 2px 16px;}

    /* Modal Footer */
    .modal-footer {
        padding: 2px 16px;
        background-color: #5cb85c;
        color: white;
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        animation-name: animatetop;
        animation-duration: 0.4s
    }

    /* Add Animation */
    @keyframes animatetop {
        from {top: -300px; opacity: 0}
        to {top: 0; opacity: 1}
    }

    #list-drinks {
        color: black;
    }

    /* The alert message box */
    .alert {
        padding: 20px;
        background-color: #27ae60; /* Red */
        color: white;
        margin-bottom: 15px;
    }

    /* The close button */
    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    /* When moving the mouse over the close button */
    .closebtn:hover {
        color: black;
    }
    </style>
{% endblock %}

{% block body %}
    <div id="wrapper">
        <header id="header">
            <h1>Commandes en cours <a style="color:#3498db;font-size:16px;text-decoration:none;padding-left:1%" href="{{ path('orders_history') }}">voir l'historique des commandes</a></h1>
        <header>
        <div id="main">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert" style="display: none;">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <table id="last-orders-sportpo" class="last-tables">
                            <thead>
                                <tr>
                                    <th>Numéro table</th>
                                    <th>Commande</th>
                                    <th>Montant total</th>
                                    <th>Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if orders is not empty %}
                                    {% for order in orders %}
                                        <tr id="order-{{ order.id }}">
                                            <td># {{ order.tableId }}</td>
                                            <td>
                                                <button name="drinks" class="nephritis-flat-button" value="{{ order.id }}">Voir la commande</button>
                                            </td>
                                            <td>{{ order.total|number_format(2,'.','.') }} €</td>
                                            <td>
                                                <button name="served" class="nephritis-flat-button" value="{{ order.id }}">Servi !</button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="4">Pas de commandes</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Détails de la commande</h2>
            </div>
            <div class="modal-body">
                <ul id="list-drinks">
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
    $(document).ready(function(){
        $('button').click(function() {
            if(this.name == "served") {
                $(this).attr("disabled","disabled");
                var td = $(this).parent().parent();
                var orderId = this.value;
                $.ajax({
                    type: 'POST',
                    url: '{{ path("orders") }}',
                    data: {
                        id: orderId
                    },
                    success: function(){
                        var alert = $(".alert");
                        td.css("display", "none");
                        alert.css("display", "");
                        alert.append("La commande est servie !");
                    }
                });
            }
            if(this.name == "drinks") {
                var orderId = this.value;
                $.ajax({
                    type: 'POST',
                    url: '{{ path("order") }}',
                    data: {
                        id: orderId
                    },
                    success: function(orderItems){
                        var modal = $("#myModal");
                        var ul = $("#list-drinks");
                        ul.empty();
                        ul.append(orderItems);
                        modal.css("display", "block");
                    }
                });
            }
        });
    });

    var modal = document.getElementById('myModal');

    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    </script>
{% endblock %}